.quote {
  padding: 0 1em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.quote .symbol {
  text-transform: uppercase;
  font-size: 1.4em;
}

.apexcharts-canvas.apexcharts-theme-dark {
  background: transparent;
}
