@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

div {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  font-family: "Inconsolata", monospace;
}

input[type="submit"] {
  background: #111;
  color: #fff;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}

input[type="button"] {
  background: #111;
  color: #fff;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}

html, body, .container {
  height: 100%;
}
