.wheels {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.wheels-label {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.button {
  height: 50px;
  border: solid thin white;
  width: 130px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
}

.button:hover {
  background: rgba(255,255,255,0.2);
}
